#preloader
    <div class="loader">
      <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 100"><rect width="100" height="100"/></svg>
      <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 100"><rect width="100" height="100"/></svg>
      <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 100"><rect width="100" height="100"/></svg>
      <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 100"><rect width="100" height="100"/></svg>
      <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 100"><rect width="100" height="100"/></svg>
      <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 100"><rect width="100" height="100"/></svg>
      <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 100"><rect width="100" height="100"/></svg>
      <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 100"><rect width="100" height="100"/></svg>
      <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 100"><rect width="100" height="100"/></svg>
      <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 100"><rect width="100" height="100"/></svg>
    </div>
.header
    .main-cont
        .header-top
            ul.header-social
                li
                    a(href="#") 
                        img(src="img/inst.png")
                li
                    a(href="#") 
                        img(src="img/youtube.png")
                li
                    a(href="#") 
                        img(src="img/vk.png")
                li
                    a(href="#") 
                        img(src="img/ok.png")
    
            ul.header-phone
                li
                    a(href="tel:+73433105358") +7(343)310-53-58;
                li
                    a(href="tel:+79527331527") +7 952-733-15-27 - администратор
                li
                    a(href="tel:+73433105329") +7(343)310-53-29 - касса;
                li
                    a(href="tel:+73433105330") +7(343)310-53-30 - вахта;
        .header-bottom
            .logo
                img(src="img/logo.png")
        
            h1.header-title
                span#typing
        
            .switch-visually
                .switch-visually_img
                p Версия для <br> слабовидящих    


.header-nav
    .main-cont
        nav.main-nav
            .burger
                span
                span
                span
            ul.main-nav_list
                li
                    a(href="#").main-nav_link Афиша                    
                li
                    a(href="#").main-nav_link Услуги 
                li
                    a(href="#").main-nav_link Артисты 
                li
                    a(href="#").main-nav_link Кружки и студии 
                li
                    a(href="#").main-nav_link Библиотека 
                li
                    a(href="#").main-nav_link Новости 
                li
                    a(href="#").main-nav_link О ДКЖ 
                li
                    a(href="#").main-nav_link Контакты 
